body{
	background-color: #FFFDD0;
	color: #000000;
}

h1{
	text-align: center;
	font-size :74px ;
}
li{
	font-size :40px ;
}

img{
	float:right;
	margin-left: 0%;

	float:left;
	margin-right: 3%;
	
	width: 800px;
	height: 500px;
}

}

p{
font-size :25px 
}

h2{
	font-size :30px
	
}

@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}

img {
  max-inline-size: 100%;
  block-size: auto;
}
	